<h1 class="page-header">Every day i'm shufflin'</h1>

<div class="actions">
  <% if params[:shuffle] %>
    <%= link_to 'Re-order', 
      home_path, 
      class: 'button button-secondary' %>
  <% else %>
    <%= link_to 'Shuffle',
      home_path(shuffle: true), 
      class: 'button button-primary' %>
  <% end %>
</div>

<ul class="card-deck">
  <% @cards.each do |card| %>
    <li class="card">
      <div class="top">
        <span class="suit <%= "icon-#{card.suit}" %>"></span>
        <span class="number"><%= card.number %></span>
      </div>
      <div class="logo">
        <span>Which?</span>
      </div>
      <div class="bottom">
        <span class="number"><%= card.number %></span>
        <span class="suit <%= "icon-#{card.suit}" %>"></span>
      </div>
    </li>
  <% end %>
</ul>
