$heartColor: red;
$diamondColor: red;
$spadeColor: black;
$clubColor: black;

.actions {
  display: flex;
  justify-content: center;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border: 1px solid;
    list-style: none;
    margin: 10px;
    border-radius: 10px;

    .top, .bottom {
      display: flex;
      justify-content: space-between;
      min-width: 100px;
      font-size: 20px;
      padding: 10px;

      .icon-spades {
        color: $spadeColor;
      }
      .icon-clubs {
        color: $clubColor;
      }
      .icon-diamonds {
        color: $diamondColor;
      }
      .icon-hearts {
        color: $heartColor;
      }
    }
  }
}
