.button {
  display: block;
  width: 100px;
  height: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  text-decoration: none;

  &.button-primary {
    background: $colorPrimary;
  }

  &.button-secondary {
    background: $colorSecondary;
  }
}
