@font-face {
  font-family: 'Icomoon';
  src:font-url('icomoon.eot');
  src:font-url('icomoon.eot?#iefix') format('embedded-opentype'),
    font-url('icomoon.svg#icomoon') format('svg'),
    font-url('icomoon.woff') format('woff'),
    font-url('icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-spades:before {
	content: "\e617";
}

.icon-clubs:before {
	content: "\e618";
}

.icon-diamonds:before {
	content: "\e619";
}

.icon-hearts:before {
	content: "\e6d1";
}
